/* Genel ayarlar */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  position: relative;
  min-height: 100vh;
}

/* Logo (Üst ortada) */
.logo {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
}

.logo img {
  height: auto;
  width: 300px;
}

/* Ana ikonlar için konumlandırma */
.main-icon {
  position: absolute;
}

/* Ana ikonların img boyutları */
.main-icon img {
  width: 150
